@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
}

.box--header {
  display: flex;
  justify-content: flex-start; /* Pastikan elemen berada di kiri */
  align-items: center;
  background: transparent;
  position: sticky;
  margin: 0;
  background-image: url('Assets/bgnav.png');
  background-size: cover;
  background-position: center;
  z-index: 100;
}

.box--btn {
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

.box--iconmenu,
.box--tombol {
  transition: transform 0.5s ease;
}

.box--iconmenu:hover,
.box--tombol:hover {
  transform: scale(1.2);
}

.box--icon {
  height: 20px;
}

.box--logo img {
  height: 50px;
  margin: 0;
  opacity: 0;
  animation: slideRight 2s ease forwards;
}


.box--logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Geser ke kiri */
  margin-left: 0; /* Pastikan margin-left diatur ke 0 */
}

.box--navigasi {
  width: 80%;
  align-items: center;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
}

.box--subnavigasi {
  list-style-type: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.box--iconmenu {
  margin-left: 40px;
  display: flex;
  position: relative;
}

.box--judul {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: small;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
  margin-left: 10px; /* Jarak antara ikon dan teks */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9D1414;
  width: auto;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
  text-align: left;
  padding: 10px;
  top: 45px;
  right: 0;
}

.dropdown-content a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-size: 0.5em;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: #555;
}

.dropdown-content a img {
  margin-right: 5px; /* Jarak antara ikon gambar dan teks */
}


.hamburger-menu {
  display: none;
  cursor: pointer;
  margin-right: 20px;
  z-index: 101;
  position: relative;
}

.hamburger-menu .bar1,
.hamburger-menu .bar2,
.hamburger-menu .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger-menu .bar1,
.hamburger-menu .bar3 {
  transition: transform 0.4s, opacity 0.4s;
}

.hamburger-menu .bar2 {
  opacity: 1;
}

.hamburger-menu.active .bar1 {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .bar2 {
  opacity: 0;
}

.hamburger-menu.active .bar3 {
  transform: translateY(-8px) rotate(-45deg);
}

.center-text {
  text-align: center;
  margin-top: 20px;
}

.center-text h1 {
  margin: 0;
  font-size: 2em; /* Ubah angka ini untuk memperbesar teks */
  color: #555; /* Ganti dengan warna teks yang diinginkan */
  font-weight: normal; /* Atur font-weight ke normal */
}

/* CSS for the additional text section */
.additional-text {
    margin: 20px; /* Adjust margin as needed */
    padding: 20px; /* Add padding for better spacing */
    background-color: #f9f9f9; /* Light background color */
    border: 1px solid #ddd; /* Light border for separation */
    border-radius: 8px; /* Rounded corners */
    text-align: center; /* Center-align text */
  }
  
  .additional-text p {
    margin: 0; /* Remove default margins */
    font-size: 1em; /* Standard font size */
    color: #333; /* Dark text color for readability */
  }
  
  .additional-text p + p {
    margin-top: 10px; /* Space between paragraphs, adjust as needed */
  }
  
  .additional-text a {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline from links */
  }
  
  .additional-text a:hover {
    text-decoration: underline; /* Underline link on hover */
  }
  
  .centered-image {
    max-width: 50%; /* Adjust as needed; makes image responsive */
    height: auto; /* Maintain aspect ratio */
    margin: 0 0 10px; /* Space below the image, adjust as needed */
  }
  
  
.box--footer {
  background-color: #9D1414;
  background-image: url('Assets/bgnav.png');
  color: #ffffff;
  padding: 2vh 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto; /* Menempel di bawah */
  width: 100%; /* Lebar penuh */
  font-size: 0.8em; /* Ukuran font default */
  height: 20px; /* Tinggi default */
}

/* Keyframe animations */
@keyframes slideRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


@media screen and (max-width: 1200px) {
  .box--footer {
    padding: 8px 0; /* Sesuaikan padding untuk mengecilkan tinggi footer */
    font-size: 0.75em; /* Ukuran font lebih kecil */
    height: 35px; /* Tinggi lebih kecil */
  }

  .box--iconmenu:hover .arrow {
    transform: rotate(-270deg); /* Rotate arrow */
  }
  
  .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .box--iconmenu:hover .dropdown-content {
    display: block;
  }

  .box--logo {
    height: 50px;
    margin-left: 0;
    opacity: 0;
    animation: slideRight 2s ease forwards;
  }

  .box--subnavigasi {
    display: none;
    width: auto;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #9D1414;
    z-index: 80;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start; /* Teks rata kiri */
  }

  .box--subnavigasi.show {
    display: flex;
  }

  .box--subnavigasi li {
    width: 100%; /* Pastikan elemen li mengisi lebar penuh */
    display: flex; /* Flexbox untuk mengatur ikon dan teks */
    align-items: center; /* Vertikal rata tengah */
    margin-bottom: 10px; /* Jarak antar item */
  }

  .box--subnavigasi li a {
    text-decoration: none;
    color: white; /* Warna teks */
    font-size: 0.5em; /* Ukuran teks lebih kecil */
    padding: 5px 10px; /* Padding untuk tautan */
    display: flex; /* Flexbox untuk ikon dan teks */
    align-items: center; /* Vertikal rata tengah */
  }

  .box--subnavigasi li a img {
    margin-right: 5px; /* Jarak antara ikon gambar dan teks */
  }

  .box--iconmenu {
    margin-left: auto;
  }

  .hamburger-menu {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }

  .hamburger-menu .bar1,
  .hamburger-menu .bar2,
  .hamburger-menu .bar3 {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }

  .hamburger-menu.active .bar1 {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar2 {
    opacity: 0;
  }

  .hamburger-menu.active .bar3 {
    transform: translateY(-8px) rotate(-45deg);
  }

  .dropdown-content {
    top: 0;
    right: 100%;
    }
}

@media (max-width: 414px) {
  .box--footer {
    padding: 5px 0; /* Sesuaikan padding untuk mengecilkan tinggi footer */
    font-size: 0.6em; /* Ukuran font lebih kecil */
    height: 30px; /* Tinggi lebih kecil */
  }

  .box--logo {
    height: 50px;
    margin-left: 0;
    opacity: 0;
    animation: slideRight 2s ease forwards;
  }
  
  .box--icon {
    height: 15px;
  }

  .box--logo img {
    height: 25px; /* Tinggi lebih kecil untuk logo */
    margin: 0;
  }

  .box--iconmenu:hover .arrow {
    transform: rotate(-270deg); /* Rotate arrow */
  }

  
  .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .box--iconmenu:hover .dropdown-content {
    display: block;
  }
  
  .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .dropdown-content {
    top: 0;
    right: 100%;
    }
}
