@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap");

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
}

.box--header {
  display: flex;
  justify-content: flex-start; /* Pastikan elemen berada di kiri */
  align-items: center;
  background: transparent;
  position: sticky;
  margin: 0;
  background-image: url('Assets/bgnav.png');
  background-size: cover;
  background-position: center;
  z-index: 100;
}

.box--btn {
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

.box--iconmenu,
.box--tombol {
  transition: transform 0.5s ease;
}

.box--iconmenu:hover,
.box--tombol:hover {
  transform: scale(1.2);
}

.box--icon {
  height: 20px;
}

.box--logo img {
  height: 50px;
  margin: 0;
  opacity: 0;
  animation: slideRight 2s ease forwards;
}

.box--logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Geser ke kiri */
  margin-left: 0; /* Pastikan margin-left diatur ke 0 */
}

.box--navigasi {
  width: 80%;
  align-items: center;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
}

.box--subnavigasi {
  list-style-type: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.box--iconmenu {
  margin-left: 40px;
  display: flex;
  position: relative;
}

.box--judul {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: small;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
  margin-left: 10px; /* Jarak antara ikon dan teks */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9D1414;
  width: auto;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
  text-align: left;
  padding: 10px;
  top: 45px;
  right: 0;
}

.dropdown-content a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-size: 0.5em;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: #555;
}
.dropdown-content a img {
  margin-right: 5px; /* Jarak antara ikon gambar dan teks */
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  margin-right: 20px;
  z-index: 101;
  position: relative;
}

.hamburger-menu .bar1,
.hamburger-menu .bar2,
.hamburger-menu .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger-menu .bar1,
.hamburger-menu .bar3 {
  transition: transform 0.4s, opacity 0.4s;
}

.hamburger-menu .bar2 {
  opacity: 1;
}

.hamburger-menu.active .bar1 {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .bar2 {
  opacity: 0;
}

.hamburger-menu.active .bar3 {
  transform: translateY(-8px) rotate(-45deg);
}

.box--footer {
  background-color: #9D1414;
  background-image: url('Assets/bgnav.png');
  color: #ffffff;
  padding: 2vh 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto; /* Menempel di bawah */
  width: 100%; /* Lebar penuh */
  font-size: 0.8em; /* Ukuran font default */
  height: 20px; /* Tinggi default */
}

.center-text {
  text-align: center;
  margin-top: 20px;
}

.center-text h1 {
  margin: 0;
  font-size: 2em; /* Ubah angka ini untuk memperbesar teks */
  color: #555; /* Ganti dengan warna teks yang diinginkan */
  font-weight: normal; /* Atur font-weight ke normal */
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.profile-box {
  display: flex;
  align-items: center;
  width: 80%;
  background: #ffffff;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.profile-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.profile-img {
  width: 150px;
  height: 220px;
  border-radius: 0;
  object-fit: cover;
  margin-right: 20px;
}

.profile-content {
  flex-grow: 1;
}

.profile-content h2 {
  margin: 0;
  font-size: 1.5em;
  color: #555;
}

.profile-content p {
  margin: 5px 0;
  color: #555;
}

.profile-content a {
  color: #555;
  text-decoration: none;
}

.profile-content a:hover {
  text-decoration: underline;
}

.linkedin-logo {
  width: 24px; /* Adjust the size as needed */
  height: auto;
  vertical-align: middle; /* Align the logo with text if necessary */
}

.section-title {
  margin: 0;
  font-size: 2em; /* Ubah angka ini untuk memperbesar teks */
  color: #555; /* Ganti dengan warna teks yang diinginkan */
  font-weight: normal; /* Atur font-weight ke normal */
}

th {
  position: relative; /* Menambahkan konteks posisi untuk anak elemen absolut */
  text-align: center; /* Pusatkan teks header */
}

.sort-buttons {
  position: absolute;
  right: 20px; /* Memposisikan ke kanan */
  top: 50%;
  transform: translateY(-50%); /* Vertically center the buttons */
  display: flex;
  flex-direction: column; /* Mengatur tombol dalam kolom vertikal */
  align-items: center;
}

.sort-button {
  background: none;
  border: none;
  font-size: 0.7em;
  cursor: pointer;
  color: #fffcfc;
  padding: 0;
  margin: 0;
}

.sort-arrow {
    font-size: 0.8em; /* Ukuran panah */
    margin: 0; /* Menghapus margin default */
}

.sort-button:hover .sort-arrow {
    color: #000; /* Warna panah saat hover */
}

.table-container {
  position: relative;
  max-width: 80%;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 1rem;
  text-align: center;
  overflow-x: auto;
  background-color: #fff; /* Background color for the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
  min-height: 400px;
  align-items: center; /* Pastikan elemen dalam kontainer sejajar secara vertikal */
}

.table-controls {
  display: flex;
  justify-content: space-between; /* Posisikan elemen di sebelah kiri dan kanan */
  align-items: center;
  margin-bottom: 10px; /* Atur margin bawah sesuai kebutuhan */
}

.search-input {
  background-color: #fff; /* Ubah latar belakang menjadi putih */
  color: #9D1414; /* Warna teks tetap */
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.search-input:hover {
  background-color: #9D1414; /* Ubah latar belakang saat dihover */
  color: #fff; /* Ubah warna teks saat dihover */
}

.search-input:focus {
  outline: none;
}

.entries-dropdown {
  margin-right: 10px; /* Atur margin kanan untuk memisahkan dari elemen lain */
  background-color: #fff; /* Latar belakang dropdown */
  color: #9D1414; /* Warna teks dropdown */
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.entries-dropdown:hover {
  background-color: #9D1414; /* Ubah latar belakang saat dihover */
  color: #fff; /* Ubah warna teks saat dihover */
}

.table-controls button,
.pagination button,
.pagination span {
  background-color: #fff; /* Ubah latar belakang tombol menjadi putih */
  color: #000000; /* Warna teks tetap */
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.table-controls button:hover,
.pagination button:hover,
.pagination span:hover {
  background-color: #9D1414; /* Ubah latar belakang saat dihover */
  color: #fff; /* Ubah warna teks saat dihover */
  cursor: pointer; /* Tambahkan kursor pointer */
}


/* Styling untuk dropdown options */
.entries-dropdown select {
  background-color: #fff; /* Latar belakang dropdown options */
  color: #9D1414; /* Warna teks dropdown options */
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.entries-dropdown select:hover {
  background-color: #9D1414; /* Ubah latar belakang saat dihover */
  color: #fff; /* Ubah warna teks saat dihover */
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

table th {
  background-color: #9D1414;
  color: #ffffff;
  text-align: center;
  padding: 10px; /* Increased padding for better spacing */
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px; /* Increased padding for better spacing */
  text-align: center;
}

table td:nth-child(1),
table td:nth-child(3) {
  text-align: center; /* Mengatur teks di kolom kedua (NPM) menjadi ditengah */
}

table td {
  text-align: left; /* Mengatur teks di seluruh data tabel menjadi rata kiri */
}

.link-icon {
  width: 24px; /* Adjust size as needed */
  height: auto;
  vertical-align: middle;
}

/* Keyframe animations */
@keyframes slideRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


@media screen and (max-width: 1200px) {
  .box--footer {
    padding: 8px 0; /* Sesuaikan padding untuk mengecilkan tinggi footer */
    font-size: 0.75em; /* Ukuran font lebih kecil */
    height: 35px; /* Tinggi lebih kecil */
  }

  .box--iconmenu:hover .dropdown-content {
    display: block;
  }
  
  .box--iconmenu:hover .arrow {
    transform: rotate(-270deg); /* Rotate arrow */
  }
  
  .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .box--logo {
    height: 50px;
    margin-left: 0;
    opacity: 0;
    animation: slideRight 2s ease forwards;
  }

  .description {
    margin: 20px;
    text-align: justify;
  }
  
  .content-section {
    flex-direction: column;
    text-align: center;
  }

  .left-column,
  .right-column {
    flex: none;
    width: 100%;
  }

  .unpad-logo {
    width: 150px;
    margin: 0 auto;
  }

  .main-title,
  .sub-title {
    text-align: center;
  }

  .box--subnavigasi {
    display: none;
    width: auto;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #9D1414;
    z-index: 80;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start; /* Teks rata kiri */
  }

  .box--subnavigasi.show {
    display: flex;
  }

  .box--subnavigasi li {
    width: 100%; /* Pastikan elemen li mengisi lebar penuh */
    display: flex; /* Flexbox untuk mengatur ikon dan teks */
    align-items: center; /* Vertikal rata tengah */
    margin-bottom: 10px; /* Jarak antar item */
  }

  .box--subnavigasi li a {
    text-decoration: none;
    color: white; /* Warna teks */
    font-size: 0.5em; /* Ukuran teks lebih kecil */
    padding: 5px 10px; /* Padding untuk tautan */
    display: flex; /* Flexbox untuk ikon dan teks */
    align-items: center; /* Vertikal rata tengah */
  }

  .box--subnavigasi li a img {
    margin-right: 5px; /* Jarak antara ikon gambar dan teks */
  }

  .box--iconmenu {
    margin-left: auto;
  }

  .hamburger-menu {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }

  .hamburger-menu .bar1,
  .hamburger-menu .bar2,
  .hamburger-menu .bar3 {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }

  .hamburger-menu.active .bar1 {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar2 {
    opacity: 0;
  }

  .hamburger-menu.active .bar3 {
    transform: translateY(-8px) rotate(-45deg);
  }

  .description {
    margin: 0 75px;
  }



.dropdown-content {
  top: 0;
  right: 100%;
  }
}

@media (max-width: 414px) {
  .box--footer {
    padding: 5px 0; /* Sesuaikan padding untuk mengecilkan tinggi footer */
    font-size: 0.6em; /* Ukuran font lebih kecil */
    height: 30px; /* Tinggi lebih kecil */
  }
  
  .box--iconmenu:hover .dropdown-content {
    display: block;
  }
  
  .box--iconmenu:hover .arrow {
    transform: rotate(-270deg); /* Rotate arrow */
  }
  
  .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .box--logo img {
    height: 40px; /* Sesuaikan tinggi logo jika diperlukan */
    margin: 0 0 0 20px; /* Sesuaikan margin jika diperlukan */
  }

  .box--logo {
    height: 50px;
    margin-left: 0;
    opacity: 0;
    animation: slideRight 2s ease forwards;
  }

  .box--icon {
    height: 15px;
  }

  .box--logo img {
    height: 25px; /* Tinggi lebih kecil untuk logo */
    margin: 0;
  }

  .box--iconmenu:hover .arrow {
    transform: rotate(-270deg); /* Rotate arrow */
  }
  
  .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .dropdown-content {
    top: 0;
    right: 100%;
    }
}