@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap");

body,
html {
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
  height: 100%;
  position: sticky;
}

.box--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: sticky;
  margin: 0;
  background-image: url('Assets/bgnav.png');
  background-size: cover;
  background-position: center;
  z-index: 100;
}

.box--btn {
  margin: 0;
  padding: 0;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

.box--iconmenu,
.box--tombol {
  transition: transform 0.5s ease;
}

.box--iconmenu:hover,
.box--tombol:hover {
  transform: scale(1.2);
}

.box--icon {
  height: 20px;
}

.box--logo img {
  height: 50px;
  margin: 0 0 0 35px;
  opacity: 0;
  animation: slideRight 2s ease forwards;
}

.box--logo {
  width: 70vw;
}

.box--navigasi {
  width: 30vw;
  align-items: center;
  border: 1px solid transparent;
}

.box--subnavigasi {
  list-style-type: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.box--iconmenu {
  margin-left: 20px;
  display: flex;
}

.box--judul {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: small;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  margin-right: 20px;
  z-index: 101;
  position: relative;
}

.hamburger-menu .bar1,
.hamburger-menu .bar2,
.hamburger-menu .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger-menu .bar1,
.hamburger-menu .bar3 {
  transition: transform 0.4s, opacity 0.4s;
}

.hamburger-menu .bar2 {
  opacity: 1;
}

.hamburger-menu.active .bar1 {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .bar2 {
  opacity: 0;
}

.hamburger-menu.active .bar3 {
  transform: translateY(-8px) rotate(-45deg);
}

.welcome-box {
  background-color: #610404;
  color: #ffffff;
  margin-top: 15px;
  padding: 25px 120px;
  border-radius: 50px;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: inline-block;
}

.welcome-box h1 {
  margin: 0;
  font-size: medium;
}

.box--additional-text {
  margin-top: 35px;
  font-size: 16px;
  padding: 175px;
  color: #ffffff;
  text-align: left;
  margin-right: 55vw;
  margin-left: 0vw;
}

.table-container {
  position: relative;
  max-width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 1rem;
  text-align: center;
  overflow-x: auto;
  background-color: #fff; /* Background color for the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
  min-height: 500px;
}

.table-controls {
  display: flex;
  justify-content: space-between; /* Posisikan elemen di sebelah kiri dan kanan */
  align-items: center;
  margin-bottom: 10px; /* Atur margin bawah sesuai kebutuhan */
}

.search-input {
  background-color: #fff; /* Ubah latar belakang menjadi putih */
  color: #610404; /* Warna teks tetap */
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.search-input:hover {
  background-color: #610404; /* Ubah latar belakang saat dihover */
  color: #fff; /* Ubah warna teks saat dihover */
}

.search-input:focus {
  outline: none;
}

.entries-dropdown {
  margin-right: 10px; /* Atur margin kanan untuk memisahkan dari elemen lain */
  background-color: #fff; /* Latar belakang dropdown */
  color: #610404; /* Warna teks dropdown */
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.entries-dropdown:hover {
  background-color: #610404; /* Ubah latar belakang saat dihover */
  color: #fff; /* Ubah warna teks saat dihover */
}

.table-controls button,
.pagination button,
.pagination span {
  background-color: #fff; /* Ubah latar belakang tombol menjadi putih */
  color: #000000; /* Warna teks tetap */
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.table-controls button:hover,
.pagination button:hover,
.pagination span:hover {
  background-color: #610404; /* Ubah latar belakang saat dihover */
  color: #fff; /* Ubah warna teks saat dihover */
  cursor: pointer; /* Tambahkan kursor pointer */
}


/* Styling untuk dropdown options */
.entries-dropdown select {
  background-color: #fff; /* Latar belakang dropdown options */
  color: #610404; /* Warna teks dropdown options */
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.entries-dropdown select:hover {
  background-color: #610404; /* Ubah latar belakang saat dihover */
  color: #fff; /* Ubah warna teks saat dihover */
}


table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

table th {
  background-color: #4e332c;
  color: #ffffff;
  text-align: center;
  padding: 10px; /* Increased padding for better spacing */
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px; /* Increased padding for better spacing */
  text-align: center;
}

table td:nth-child(1),
table td:nth-child(3) {
  text-align: center; /* Mengatur teks di kolom kedua (NPM) menjadi ditengah */
}

table td {
  text-align: left; /* Mengatur teks di seluruh data tabel menjadi rata kiri */
}

/*Keyframe animation*/
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(1px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(1px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(1px);
    opacity: 1;
  }
}

/* Media queries for responsive design */
@media (min-width: 1000px) and (max-width: 1500px) {
  .box--logo {
    width: 65vw;
  }

  .box--hero .box--overlay {
    padding-top: 70px;
  }

  .box--baris1,
  .box--baris2 {
    font-size: 1.2em;
  }
}

@media (min-width: 780px) and (max-width: 1000px) {
  .box--logo {
    width: 55vw;
  }

  .box--hero .box--overlay {
    padding-top: 230px;
  }

  .box--baris1,
  .box--baris2 {
    font-size: 1.2em;
  }
}

@media (min-width: 300px) and (max-width: 780px) {
  .box--iconmenu {
    display: flex;
  }

  .box--logo {
    width: 65vw;
  }

  .box--navigasi {
    width: 30vw;
    padding-top: 20px;
    align-items: center;
    border: 1px solid transparent;
  }

  .box--icon {
    height: 25px;
  }

  .box--logo img {
    height: 60px;
    margin: 10px 0 0 20px;
    opacity: 0;
    animation: slideRight 2s ease forwards;
  }

  .box--text-setting {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.3s * var(--m));
  }

  .box--hero .box--overlay {
    padding-top: 170px;
    padding-left: 30px;
  }

  .box--hero .box--overlay .box--text-content {
    text-align: center;
  }
}

.box--footer {
  background-color: #610404;
  color: #ffffff;
  padding: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
  .box--subnavigasi {
    display: none;
    width: auto;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(129, 7, 7, 0.8);
    z-index: 80;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .box--subnavigasi.show {
    display: flex;
  }

  .box--subnavigasi li {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .box--subnavigasi li a {
    text-decoration: none;
    color: white;
    font-size: 0.5em;
    padding: 5px 10px;
    display: flex;
    align-items: center;
  }

  .box--iconmenu {
    margin-left: auto;
  }

  .hamburger-menu {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }

  .hamburger-menu .bar1,
  .hamburger-menu .bar2,
  .hamburger-menu .bar3 {
    background-color: #fff;
    transition: 0.4s;
  }

  .hamburger-menu.active .bar1 {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar2 {
    opacity: 0;
  }

  .hamburger-menu.active .bar3 {
    transform: translateY(-8px) rotate(-45deg);
  }
  
}

